.logo-image {
  width: 61px;
}

.container-information {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  border: solid 2px black;
  background-color: aliceblue;
  .p-information {
    padding: 9px 20px;
  }
  .logo-image {
    width: 61px;
  }
}
