@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

.navbar {
  width: 100%;

  display: flex;
  justify-content: space-around;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  .navbar-button {
    padding: 12px 32px;
    border-bottom: 2px solid;
    font-family: "Inter", sans-serif;
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: transparent;
    border-bottom: solid 2px;
  }
}
