@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

.button-portfolio {
  background-color: transparent;
  padding: 11px;
}
.button-click {
  padding: 0px 15px;

  display: flex;
  align-items: center;
}

.img-size {
  width: 150px;
}
