@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

.div-container-portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  a {
    width: 25vw;
    height: auto;
    border: 2px solid black;
    margin: 0.5em;
  }

  .imagen-portfolio {
    width: 50%;
  }
}
