@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

.general {
  padding: 25px;
  display: flex;
  justify-content: center;
}

.presentation-photo {
  width: 40%;
  background-color: none;
}

.presentation-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.photo-src {
  width: 50%;
}
