.container-information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .item-information {
    width: 25vw;
    height: auto;
    border: 2px solid black;
    margin: 0.5em;
  }

  .img-icon-skills {
    width: 50%;
  }
}
