.container-information {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  border: solid 2px black;
  background-color: aliceblue;

  .item-information {
    font-size: 13px;
  }
}

.logo-image {
  width: 120px;
}

.img-icon-skills {
  width: 100px;
}
