.presentation {
  display: flex;
  padding: 5% 0%;
  justify-content: center;
}
.app-info {
  background-color: #282c34;
  width: 50%;
}
.app-photo {
  width: 35%;
  background-color: none;
}

.photo-src {
  height: 100%;
  width: 55%;
}
