* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
}

.app {
  text-align: center;
  background-color: #03793b3b;
  width: 100;
  min-height: 100%;
}

.icons-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons-footer {
  padding: 1% 1%;
}

.icons-item {
  width: 100%;
  border: #282c34 solid 1px;
  padding: 11px;
}

.general-container {
  padding: 40px;
}

div:focus {
  border: solid 2px red;
  outline: none;
}
