* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
}

.app {
  text-align: center;
  background-color: grey;
  width: 100;
  min-height: 100%;
}

.navbar {
  padding: 1% 1%;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-decoration: none;

  .navbar-button {
    width: 100%;
    text-decoration: none;
    background-color: gold;
    border: #282c34 solid 1px;
    padding: 11px;
  }
}

.container-information {
  background-color: gold;
  margin: 6% 3%;
}

.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gold;
}

.section-footer {
  padding: 1% 1%;
}

.footer-item {
  width: 100%;
  border: #282c34 solid 1px;
  padding: 11px;
}
