* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
}

.app {
  text-align: center;
  background-color: white;
  width: 100;
  min-height: 100%;
}

.container-information {
  background-color: #a0dabb;
  margin: 1% 5%;
}

.icons-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gold;
}

.icons-footer {
  padding: 1% 1%;
}

.icons-item {
  width: 100%;
  border: #282c34 solid 1px;
  padding: 11px;
}
