@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

body {
  background-color: burlywood;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}
